:root {
  font-family: Roboto;
  font-size: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 350px;
  text-align: center;
  background-color: #3ea9f5;
}
a {
  text-decoration-skip-ink: auto;
}
h2 {
  color: white;
  text-transform: uppercase;
  margin: 10px;
}
p{
  color: white;
}
